<template name="playlist">

  <div class="row">
    <div class='col-md-12'>
        <audio controls="" id="player" src="{{ current_track }}"></audio>
    </div>


    <div class="col-md-12">
      <ul class="list-group">
        {{#each tracks_in_playlist}}
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{{current_album_art artwork}}" alt="{{title}}" height=30>
              </a>
            </div>
            <div class="media-body">
              <span class="pull-right">
                <button type="button" class="btn btn-sm btn-info btn-play"><i class="glyphicon glyphicon-{{button_state _id}}"></i></button>
                <button type="button" class="btn btn-sm btn-danger btn-delete-track"><i class="glyphicon glyphicon-trash"></i></button>
              </span>
              <h4 class="media-heading">{{title}}</h4>

              <span class="clearfix"></span>
              <!-- <audio id="player{{_id}}" controls="controls" src="{{ getSource uri }}"></audio> -->
            </div>
          </div>

        </li>
        {{/each}}
      </ul>
    </div>
  <!-- /.row -->
  </div>
</template>
