@import "tools/extends";

@import "objects/forms";

@import "components/login";

.landing-logo {
  margin-top:30px;
  margin-bottom:10px;
}

.navbar-brand {
  padding:10px 15px !important;
}

#player {
  width: 100%;
}
